.main, .result {
  width: 600px;
  margin-right: 40px;
  padding-bottom: 10px;
}

.error {
  color:red;
  position: relative;
  bottom: 17px;
  right: 216px;
}

.header {
  margin: 0 0 20px 0;
  padding: 20px;
}

button {
  margin-top: 20px;
}